name: Arnica SBOM Upload Integration Tests

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  scan-sbom:
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@85e6279cec87321a52edac9c87bce653a07cf6c2 #v4.2.2
        with:
          persist-credentials: false

      - name: Generate SBOM and scan with Arnica
        id: arnica
        uses: ./
        env:
          ARNICA_API_TOKEN: ${{ secrets.ARNICA_SBOM_UPLOAD_API_TOKEN }}
        with:
          repository-url: "${{ github.server_url }}/${{ github.repository }}"
          branch: ${{ github.head_ref }}
          scan-path: "tests"
          api-base-url: ${{ secrets.ARNICA_API_BASE_URL }}
          on-findings: alert

      - name: Print results
        run: |
          echo "scan-id=${{ steps.arnica.outputs['scan-id'] }}"
          echo "status=${{ steps.arnica.outputs.status }}"
